@page
@model FoodREV.Pages.Admin.FoodType.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="border backgroundwhite container">
    <div class="row mt-3">
        <div class="col-6">
            <h2 class="text-primary">Food Type</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Upsert" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
    <br />
    <br />
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Food Type</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/foodType.js"></script>
}

